.region-holder + .region-holder {
  margin-top: 3rem;
}

h1 {
  max-width: 25rem;
  margin: auto;
  padding: 3rem 0 5rem;
}

h4 {
  margin-top: 0;
}

.item {
  border-left: 2px solid #aaa;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  vertical-align: baseline;
  text-align: left;

  td, th {
    padding: .5em 1em;
  }
  td {
    border-top: 1px solid #eee;
    vertical-align: baseline;
    position: relative;
  }
  th {
    font-size: 14px;
  }

  @media (max-width: 30rem) {
    table, tr, td, tbody {
      display: block;
      border-top: none;
      position: relative;
    }

    thead,
    td:nth-child(3) {
      display: none;
    }

    td.td-width-2 {
      position: absolute;
      left: -2.5rem;
    }

    td {
      padding-left: 2rem;
    }

    td:last-child {
      padding-top: 0;
    }

    tr:not(:first-child) {
      border-top: 1px solid #eee;
    }
  }
}

.logo-item {
  margin-right: .5em;
}

.logo-holder-2 {
  position: absolute;
  top: .25em;
  max-width: 6rem;
}

.region {
  margin-bottom: 4rem;
}

.td-width-max {
  max-width: 25rem;
}

.td-width-2 {
  width: 3rem;
}
