<div class="overview">
  <h1>Kdo už ohlásil, že půjde do krajských voleb:</h1>
  <div class="regions">
    <div class="region-item" v-for="(region, index) in $store.state.static.regions">
      <div class="region center">
        <router-link :to="region.hash" tag="img" :src="'https://krajskevolby2020.programydovoleb.cz/social/kraje/' + region.hash + '.png'" :alt="region.name" />
        <p>Kandidátek: {{ $store.state.dynamic.callout[index].parties.length }}</p>
        <router-link :to="region.hash" class="btn">Přehled</router-link>
      </div>
    </div>
  </div>
  <h2>Jak dopadly volby v roce 2016?</h2>
  <div class="btns center">
    <router-link class="button" to="/2016">Výsledky, zastupitelé, krajské rady, programy</router-link>
  </div>
</div>
