<div class="overview">
  <h1>{{ region.name }}</h1>
  <p class="lead">Ohlášené strany a koalice, lídři a kandidátky</p>
  <div class="part" v-if="about">
    <div class="split-1-2">
      <div class="column show-40rem">
        <map-element :highlight="region.nuts" :zoom="region.nuts" :width="500" />
      </div>
      <div class="column">
        <div class="stats">
          <ul>
            <li>
              <label>Volí se</label>
              <div>{{ region.seats }} zastupitelů</div>
            </li>
            <li>
              <label>Hejtman</label>
              <div>
            		<template v-for="(party, index2) in about.parties">
            			<template v-for="(person, i) in party.seats">
            				<person-about v-if="person.level === 0" :name="person.name" :party="party.reg" :nominatedBy="person.party" :link="person.wiki" />
                    <span v-if="person.level === 4" class="dimm">{{ person.name }}, odvolán 8. 6. 2020</span>
            			</template>
            		</template>
              </div>
            </li>
            <li>
              <label>Rada</label>
              <div>
                <span v-for="(party, index) in about.parties">
                  <label-with-dot color="#aaa" v-if="party.short">{{ party.short }}</label-with-dot>
                  <party-name-with-dot v-if="!party.short" :reg="party.reg" :alwaysShort="true" />
                  <span class="dimm">&nbsp;&nbsp;&nbsp;</span>
                </span>
              </div>
            </li>
            <li>
              <label>2016</label>
              <div>
                <router-link :to="'/2016/' + region.hash">výsledky</router-link>
                <span class="dimm">
                  &middot;
                  účast {{ about.attended }} %
                </span>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="part">
    <h2>Kdo se chystá do voleb?</h2>
    <p class="center dimm">Tento seznam je průběžně doplňován.</p>
    <div class="parties">
      <party-in-list
        v-for="(party, i2) in parties"
        :key="'party_' + i2"
        :party="party"
      ></party-in-list>
      <div class="party">
        <div class="stats">
          <ul>
            <li>
              <div>
                <update-form :region="region" :party="null">
                  <button class="button-plain yellow">Přidat stranu nebo koalici</button>
                </update-form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <share-block />
  <br>
  <div class="part">
    <div class="banner-split">
      <div>
        <router-link :to="'/anketa/strany?kde=' + region.hash">
          <img src="/static/cta-anketa.png" alt="Dotazník" width="100%">
        </router-link>
      </div>
      <div>
        <router-link to="/dotaznik-ke-krajskym-volbam">
          <img src="/static/cta-dotaznik.png" alt="Dotazník" width="100%">
        </router-link>
      </div>
    </div>
  </div>
  <div class="goto goto-dimm">
    <h4>Vybrat jiný kraj</h4>
    <div class="stats">
      <ul class="columns-3">
        <li v-for="(region, index) in $store.state.static.regions">
          <div>
            <router-link :to="'/' + region.hash" :class="{red: region.hash === id}">{{ region.name }}</router-link>
          </div>
          <label v-if="$store.state.dynamic.callout[index].parties.length < 5">{{ $store.state.dynamic.callout[index].parties.length }} strany</label>
          <label v-if="$store.state.dynamic.callout[index].parties.length > 4">{{ $store.state.dynamic.callout[index].parties.length }} stran</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="goto">
    <router-link to="/">&larr; Zpět na úvodní stranu</router-link>
  </div>
</div>
