.party {
  padding-left: 3rem;
  padding-bottom: 3rem;

  @media (min-width: 40rem) {
    padding-left: 6rem;
  }
}

.party-header {
  position: relative;
}

.party-header-logo {
  position: absolute;
  left: -4rem;

  @media (min-width: 40rem) {
    left: -6rem;
  }
}

h3 {
  margin: 0;
  padding: 1rem 0 1rem;

  @media (min-width: 40rem) {
    padding-top: 1.33rem;
  }
}

.region-holder + .region-holder {
  margin-top: 3rem;
}

h1 {
  max-width: 25rem;
  margin: auto;
  padding: 3rem 0 5rem;
}

h2 + p.center {
  margin: -1.5rem 0 2rem;
}

h4 {
  margin-top: 0;
}

.lead {
  margin-bottom: 2rem;
}

.item {
  border-left: 2px solid #aaa;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  vertical-align: baseline;
  text-align: left;

  td, th {
    padding: .5em 1em;
  }
  td {
    border-top: 1px solid #eee;
    vertical-align: baseline;
    position: relative;
  }
  th {
    font-size: 14px;
  }

  @media (max-width: 40rem) {
    table, tr, td, tbody {
      display: block;
      border-top: none;
      position: relative;
    }

    thead {
      display: none;
    }

    td.td-width-2 {
      position: absolute;
      left: -2.5rem;
    }

    td {
      padding-left: 2rem;
    }

    td:last-child {
      padding-top: 0;
    }

    tr:not(:first-child) {
      border-top: 1px solid #eee;
    }
  }
}

.logo-item {
  margin-right: .5em;
}

.logo-holder-2 {
  position: absolute;
  top: .25em;
  max-width: 6rem;
}

.region {
  margin-bottom: 4rem;
}

.td-width-max {
  max-width: 25rem;
}

.td-width-2 {
  width: 3rem;
}

.columns-2-3 {
  > .item {
    padding: 0;
    border: none;
    margin: 0;
  }
}

.logo-holder-mini {
  .logo-item + .logo-item {
    margin-top: -1rem;

    @media (min-width: 40rem) {
      margin-top: -2rem;
    }
  }
}

.regions {
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem;
}

.region-item {
  width: 50%;

  @media (min-width: 40rem) {
    width: 50%;
  }

  @media (min-width: 60rem) {
    width: 33.33%;
  }
}

.regions .region {
  padding: .25rem;
  margin: 0;
}

.region img {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 1rem;
}
