<div class="overview">
  <h1>{{ region.name }}</h1>
  <p class="lead">Ohlášené strany a koalice, lídři a kandidátky</p>
  <div class="part">
    <div class="split-1-2">
      <div class="column show-40rem">
        <map-element :highlight="region.nuts" :zoom="region.nuts" :width="500" />
      </div>
      <div class="column">
        <div class="stats">
          <ul>
            <li>
              <label>Volí se</label>
              <div>{{ region.seats }} zastupitelů</div>
            </li>
            <li>
              <label>Hejtman</label>
              <div>
            		<template v-for="(party, index2) in about.parties">
            			<template v-for="(person, i) in party.seats">
            				<person-about v-if="person.level === 0" :name="person.name" :party="party.reg" :nominatedBy="person.party" :link="person.wiki" />
            			</template>
            		</template>
              </div>
            </li>
            <li>
              <label>Rada</label>
              <div>
                <span v-for="(party, index) in about.parties">
                  <party-name-with-dot :reg="party.reg" :alwaysShort="true" />
                  <span class="dimm">&nbsp;&nbsp;&nbsp;</span>
                </span>
              </div>
            </li>
            <li>
              <label>2016</label>
              <div>
                <router-link :to="'/2016/' + region.hash">výsledky</router-link>
                <span class="dimm">
                  &middot;
                  účast {{ about.attended }} %
                </span>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="part">
    <h2>Kdo se chystá do voleb?</h2>
    <p class="center dimm">Tento seznam je průběžně doplňován.</p>
    <div class="parties">
      <div class="party" v-for="(party, i2) in parties" :style="{'border-color': party.data.color}">

          <div class="party-header">
            <div class="party-header-logo">
              <span class="logo-holder-2" v-if="!party.coalition && !party.data.coalition">
                <logo-item :reg="party.reg" :data="party.data" :size="{small: 3, large: 4, breakpoint: 40}" />
              </span>
              <span v-if="party.coalition" class="logo-holder-2 logo-holder-mini">
                <logo-item :reg="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i2 + '_' + i3" :size="{small: 3, large: 4, breakpoint: 40}" v-if="typeof member === 'number'" />
              </span>
              <span v-if="party.data && party.data.coalition" class="logo-holder-2 logo-holder-mini">
                <logo-item :reg="member" v-for="(member, i3) in party.data.coalition" :key="'i32_' + i2 + '_' + i3" :size="{small: 3, large: 4, breakpoint: 40}" v-if="typeof member === 'number'" />
              </span>
            </div>
            <div class="party-header-name">
              <h3>
                <router-link :to="'/' + region.hash + '/' + betterURL(party.originalName || party.name)" class="is-span">
                  {{ party.short || (party.originalName || party.name) }}
                </router-link>
              </h3>
            </div>
          </div>

          <div class="stats heavy">
            <ul>
              <li v-if="party.short">
                <label>Jméno</label>
                <div v-html="party.name" v-if="!party.link" />
                <div v-if="party.link">
                  <outbound-link :href="party.link" :title="'Polist, ' + party.name">{{ party.name }}</outbound-link>
                </div>
              </li>
              <li v-if="party.data.coalition && party.data.coalition.length > 0">
                <label>Koalice</label>
      					<div class="coalition">
      						<div v-for="(coal, index) in party.data.coalition" class="coalition-member">
      							<party-name-with-dot :reg="coal" v-if="typeof coal === 'number'" />
                    <span v-if="typeof coal === 'string'" v-html="coal"></span>
      						</div>
      					</div>
              </li>
              <li v-if="party.support">
                <label>Podpora</label>
                <div>
                  <div v-for="(support, ix) in party.support">
                    <party-name-with-dot :reg="support" v-if="typeof support === 'number'" />
                    <span v-if="typeof support === 'string'">{{ support }}</span>
                  </div>
                </div>
              </li>
              <li v-if="party.program">
                <label>Program</label>
                <div>
                  <outbound-link :href="party.program.url || party.program" :title="'Program ' + party.name + ' v ' + region.short.toUpperCase()" class="button">{{ party.program.label || 'Zobrazit program'}}</outbound-link>
                </div>
              </li>
              <li v-if="party.leader">
                <label>Lídr</label>
                <div>
                  {{ party.leader.name || party.leader }}
                  <span v-if="party.leader.links" class="leader-links">
      							<span v-for="(link, index) in processLinks(party.leader.links)" class="leader-link">
      								<outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + '' + link.content" :type="link.icon.name" :size="'1em'" />
      							</span>
                  </span>
                  <div v-if="party.leader.reg" class="small">
                    <party-name-with-dot :reg="party.leader.reg" :alwaysShort="true" />
                  </div>
                </div>
              </li>
              <li v-if="party.list && party.list.length > 0">
                <label>Lidé</label>
                <div>
                  <div class="columns-3">
                    <div class="item-in-columns" v-for="(cand, ic) in party.list" v-if="ic < 5">
                      <span v-if="typeof cand === 'string'">
                        {{ cand }}
                      </span>
                      <span v-if="typeof cand === 'object'">
                        {{ cand.name }}
                        <div class="small">
                          <party-name-with-dot :reg="cand.reg" :alwaysShort="true" />
                        </div>
                      </span>
                    </div>
                    <modal-element v-if="party.list.length > 5">
                      <template #init>
                        <div @click="openModal(party)">
                          <strong class="show-40rem">
                            <span class="is-link">celý seznam</span>
                            &rarr;
                          </strong>
                          <span class="hide-40rem">
                            <button class="modal-init-button">Celý seznam</button>
                          </span>
                        </div>
                      </template>
                      <template #content>
                        <h3 v-html="party.name"></h3>
                        <div class="columns-3">
                          <div class="item-in-columns" v-if="party.leader">
                            <strong>{{ party.leader.name || party.leader }}</strong>
                            <em class="dimm">&middot; lídr</em>
                            <div v-if="party.leader.reg && party.leader.reg === party.reg" class="small">
                              <party-name-with-dot :reg="party.leader.reg" :alwaysShort="true" />
                            </div>
                          </div>
                          <div class="item-in-columns" v-for="(cand, ic) in party.list">
                            <span v-if="typeof cand === 'string'">
                              {{ cand }}
                            </span>
                            <span v-if="typeof cand === 'object'">
                              {{ cand.name }}
                              <div class="small">
                                <party-name-with-dot :reg="cand.reg" :alwaysShort="true" />
                              </div>
                            </span>
                          </div>
                        </div>
                        <div class="note small red"><br>Kandidátky ještě nejsou kompletní a mohou se měnit.</div>
                      </template>
                    </modal-element>
                  </div>
                </div>
              </li>
      				<li v-if="party.links.primary.length > 0">
      					<label>Odkazy</label>
      					<div class="links">
      						<div class="columns-3">
      							<div v-for="(link, index) in party.links.primary" class="link">
      								<img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
      								<outbound-link :href="link.link" :content="link.content" :addon="false" :title="link.icon.name.toUpperCase() + '' + link.content" />
      							</div>
      						</div>
      					</div>
      				</li>
            </ul>
          </div>
          <div class="update-proposal">
            <update-form :region="region" :party="party" :index="i2">
              <button class="button-plain" :style="{color: party.data.color}">Doplnit nebo upravit</button>
            </update-form>
          </div>
      </div>
      <div class="party">
        <div class="stats">
          <ul>
            <li>
              <label>Přidat</label>
              <div>
                <update-form :region="region" :party="null">
                  <button>Další strana nebo koalice</button>
                </update-form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="part">
    <div class="info-box center">
      <h3>Něco chybí nebo je špatně?</h3>
      <p>Prosím, napište na <b><a mailto="tip@programydovoleb.cz" class="footer-link">tip@programydovoleb.cz</a></b> nebo přes některou ze sociálních sítí.</p>
    </div>
  </div>
  <div class="part">
    <h2>Vybrat jiný kraj</h2>
    <div class="stats">
      <ul class="columns-3">
        <li v-for="(region, index) in $store.state.static.regions" v-if="region.hash != id">
          <div>
            <router-link :to="'/' + region.hash">{{ region.name }}</router-link>
          </div>
          <label v-if="$store.state.dynamic.callout[index].parties.length < 5">{{ $store.state.dynamic.callout[index].parties.length }} strany</label>
          <label v-if="$store.state.dynamic.callout[index].parties.length > 4">{{ $store.state.dynamic.callout[index].parties.length }} stran</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="goto">
    <router-link to="/">&larr; Zpět na úvodní stranu</router-link>
  </div>
</div>
