h4 {
  margin: 0;
}

h5 {
  margin-bottom: .5rem;
}

p {
  margin: 0;
}

.party-about {
  padding: 1.5em 0 .5em 0;
}

.party-primary {
  display: flex;
  align-items: flex-start;
}

.party-primary-logo {
  width: 4rem;
  height: 4rem;

  img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #eee;
  }
}

.party-primary-data {
  padding-right: 1rem;
  flex: 1;
}

.party-coalition {
  padding: .5rem 1rem 1.5rem 0rem;
  margin-bottom: -.5rem;
}

.party-about .party-about {
  border-top: none;
  padding-top: 0;

  h4, p {
    font-size: .8em;
  }

  .party-primary-logo {
    width: 2rem;
    height: 2rem;

    img {
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid #eee;
    }
  }

  .links-icons {
    display: none;
  }
}

.party-coalition-item {
  border-left: 2px solid #aaa;
  padding: .5rem 1rem 0 1rem;
  margin-left: -.8rem;
}

.party-coalition-item + .party-coalition-item {
  margin-top: .25rem;
}
