<div class="party-about">
	<div class="party-primary">
		<div class="party-primary-data">
			<h4>{{ party.name }}</h4>
			<p v-if="link"><outbound-link content="Webové stránky" :href="link" /></p>
			<div class="links-icons">
				<outbound-icon v-for="(link, index) in icons" :href="link.url" :type="link.icon" class="party-link" :key="'link_' + index" />
			</div>
		</div>
		<div class="party-primary-logo">
			<img :src="'/static/' + (party.logo || 'empty.png')" :alt="party.name">
		</div>
	</div>
	<h5 v-if="coalition.length > 0 && !simple">Strany koalice</h5>
	<div class="party-coalition-list" v-if="coalition.length > 0 && !simple">
		<div class="party-coalition-item" v-for="(reg, index) in coalition" :key="'coal_' + index" :style="{'border-color': partiesGlobal.find(p => p.reg === reg).color}">
			<party-about :reg="reg" />
		</div>
	</div>
</div>
