<span class="party-name-with-dot">
	<span class="party-name-with-dot-flex">
		<i :style="{background: color}" />
		<router-link :to="'/rejstrik/' + link" :title="name2" v-if="party.hash && party.reg != 90 && !noLink">
			<span class="show-40rem">{{ name }}</span>
			<span class="hide-40rem">{{ short || name }}</span>
		</router-link>
		<span v-if="party.hash && party.reg != 90 && noLink">
			<span class="show-40rem">{{ name }}</span>
			<span class="hide-40rem">{{ short || name }}</span>
		</span>
		<span v-if="!party.hash && [90].indexOf(party.reg) === -1">
			{{ name }}
		</span>
		<span v-if="[90].indexOf(party.reg) > -1">
			{{ name || party.name }}
		</span>
	</span>
</span>
