h2 {
  font-size: 1.7rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linear-list li {
  display: inline-block;
  margin-right: 1rem;
}

h4 {
  font-size: .8rem;
  margin: 1.5em 0 .5em 0;

  &:first-child {
    margin-top: 0;
  }

  &.hide-40rem {
    margin-top: 1.5em;
  }
}

div + ul {
  margin-top: .5em;
}

.lead {
  margin-top: 0;
}

.list-item {
  margin: 0 -1rem;
  padding: .5em 0;
  border-top: 1px solid #eee;

  @media (min-width: 40rem) {
    padding: 1em 0;
  }

  @media (hover: hover) {
    &:hover {
      background: #f7f7f7;
    }
  }
}

.list-item:last-child {
  border-bottom: 1px solid #eee;
}

.party {
  padding: 3rem 0 3rem 0;
  border-bottom: 2px solid #ccc;
  position: relative;

  @media (min-width: 40rem) {
    padding: 2rem 0 2rem 0;
    box-shadow: 0 10px 20px #fff;
    background: rgba(255, 255, 255, 0);

    @media (hover: hover) {
      transition: box-shadow 1s, background 1s, transform .3s;

      &:hover {
        box-shadow: 0 0 30px #ddd;
        z-index: 2;
        background: #fff;
        // transform: translateY(-2px);
      }
    }
  }

  @media (min-width: 60rem) {
    padding: 2rem 0 2rem 0;
  }
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0 1rem;

  .list-info {
    width: 100%;
    flex: none;
    margin: .5rem 0;

    @media (min-width: 40rem) {
      flex: 1;
      width: auto;
      margin: 0;
    }
  }

  .list-region {
    width: auto;
    margin-right: 1rem;

    @media (min-width: 40rem) {
      width: 14rem;
    }
  }

  .list-activity {
    width: auto;
    flex: 1;
    text-align: right;

    @media (min-width: 40rem) {
      width: 8rem;
      flex: none;
      text-align: left;
    }
  }

  .list-leader {
    @media (min-width: 40rem) {
      text-align: right;
      margin-left: 2rem;
    }

    @media (min-width: 60rem) {
      margin-left: 5rem;
    }
  }

  @media (min-width: 60rem) {
    flex-wrap: nowrap;
  }
}

.map-holder {
  position: relative;
  margin-bottom: 2rem;
}

.map-element {
  position: relative;
  z-index: 1;
}

.map-about {
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  text-align: center;
  background: rgba(255, 255, 255, .66);
  box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
  padding: .5rem;
  pointer-events: none;
  border-radius: 4px;
  line-height: 1.2;
  z-index: 10;

  h3 {
    margin: 0 0 .5em;
    font-size: .7em;
  }

  em {
    font-size: .7em;
  }

  opacity: 0;
  transition: opacity .5s, top .5s .1s ease-in-out, left .5s .1s ease-in-out;

  &.hoveredItemVisible {
    opacity: 1;
  }

}

.about-version {
  margin-bottom: .5em;
}

.about-logo {
  li {
    display: inline-block;
    margin: 0 .25em;
  }

  img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #eee;
    background: #fff;
  }
}

.map-legend {
  margin: 0 0 2rem;
  text-align: center;
}

.map-legend-item {
  display: inline-block;
  margin: 0 1rem 1rem;
}

.circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  transform: translateY(.2em);
}

.segment-name {
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
  font-size: 1.2em;
  border-color: transparent;

  @media (min-width: 40rem) {
    font-size: .9rem;
  }

  & + .small {
    color: #888;
  }
}

// flow

.flow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.flow-item {
  width: 100%;
  height: 500px;
}

.flow .flow-item {
  @media (min-width: 40rem) {
    width: 50%;

    & + .flow-item {
      padding-left: 2rem;
    }
  }
}

.incidator {
  display: inline-block;
  width: 1em;
  height: 1em;
  transform: translateY(.2em);
  margin-right: .2em;
}

.list-leader {
  display: flex;
  align-items: center;
}

.leader-face {
  width: 3rem;
  height: 3rem;
  margin-right: .5em;

  @media (min-width: 40rem) {
    margin-left: .5rem;
    margin-right: 0;
    order: 2;
  }
}
