<div class="party-detail">
  <div class="part">
    <div class="party-header-logo center" v-if="party.logo">
      <div class="logo-holder-2">
        <logo-item :data="party" :size="{small: 6, large: 6, breakpoint: 40}" />
      </div>
    </div>
    <h1>{{ party.short }}</h1>
    <p class="lead" v-html="perex"></p>
    <div class="map-holder">
      <map-element :width="$store.state.width" :areas="areas" :clickable="clickable" @select="clicked" v-on:hover="hovered" />
      <div class="map-about" v-if="hoveredItem && $store.state.width > 640" :style="{left: hoveredItem.position.x + 'px', top: hoveredItem.position.y + 'px'}" :class="{hoveredItemVisible}">
        <div class="about-region">
          <h3>{{ hoveredItem.region.name }}</h3>
        </div>
        <div class="about-version" v-if="hoveredItem.data">
          <span v-if="hoveredItem.data.type === 0">
            samostatně
          </span>
          <span v-if="hoveredItem.data.type > 0">
            <em>{{ hoveredItem.data.party.name }}</em>
          </span>
        </div>
        <div class="about-logo" v-if="hoveredItem.data">
          <ul v-if="hoveredItem.data.party.coalition">
            <li v-for="(coal, ix) in hoveredItem.data.party.coalition" v-if="coal.logo">
              <img :src="$store.state.root + coal.logo" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="map-legend small">
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .8, background: party.color}"></div>
          <span>samostatně</span>
        </div>
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .4, background: party.color}"></div>
          <span>v koalici</span>
        </div>
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .1, background: party.color}"></div>
          <span>podpora</span>
        </div>
      </div>
    </div>
    <div class="list">
      <div
        class="party"
        v-for="(act, index) in activity"
        :style="{'border-color': act.party.leader ? act.party.leader.party.color : act.party.color }"
        >
          <div class="flex">
            <div class="list-region">
              <router-link :to="'/' + act.region.hash" class="as-span segment-name">
                {{ act.region.name }}
              </router-link>
              <div class="small">
                <span v-if="act.type === 0">
                  samostatně
                </span>
                <span v-if="act.type === 1">
                  v koalici
                </span>
                <span v-if="act.type === 2">
                  podpora
                </span>
              </div>
            </div>
            <div class="list-info">
              <strong><router-link :to="act.party.link">{{ act.party.name }}</router-link></strong>
              <div class="small">
                <template v-if="act.party.program">
                  <router-link :to="act.party.link + '/volebni-program'" class="red">Program </router-link>
                  &middot;
                </template>
                <span class="dimm">
                  {{ act.party.listCount }} / {{ act.region.seats }}
                </span>
                <span v-if="act.party.links" class="dimm">
                  &middot;
                  <outbound-link :href="act.party.links[0].link" class="as-link dimm">{{ act.party.links[0].icon.name }}</outbound-link>
                </span>
              </div>
              <template v-if="act.party.reg != party.reg && act.party.reg && !act.party.coalition">
                <h4>Kandidující strana</h4>
                <ul class="linear-list">
                  <li>
                    <party-link :data="act.party" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
              <template v-if="act.party.coalition">
                <h4>Koalice</h4>
                <ul class="linear-list">
                  <li v-for="(px, index) in act.party.coalition">
                    <party-link :data="px" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
              <template v-if="act.party.support">
                <h4>Podpora</h4>
                <ul class="linear-list">
                  <li v-for="(px, index) in act.party.support">
                    <party-link :data="px" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
            </div>
            <div class="list-leader">
              <div class="leader-face" v-if="act.party.leader && act.party.leader.photo">
                <person-face :data="act.party.leader" :size="'3rem'"/>
              </div>
              <div class="leader-info" v-if="act.party.leader">
                <router-link class="as-span" :to="act.party.link + '/' + act.party.leader.hash">
                  <person-name :data="act.party.leader" />
                </router-link>
                <div class="small" v-if="act.party.leader.party">
                  <party-link :data="act.party.leader.party" :breakpoint="1000" />
                </div>
              </div>
              <div class="dimm small" v-if="!act.party.leader">neznámý lídr</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="part" v-if="party.links && party.links.globals && party.links.globals.length > 0">
    <h2>Webové stránky a sociální sítě</h2>

    <div v-if="party.links" :class="{'split-1-1': (links.facebook && !links.twitter) || (!links.facebook && links.twitter)}">
      <div :class="{flow: links.facebook && links.twitter}">
        <div class="flow-item" v-if="links.twitter">
          <twitter-feed :link="links.twitter.link + '?ref_src=twsrc%5Etfw'" :name="party.name" :key="party.hash"></twitter-feed>
        </div>
        <div class="flow-item" v-if="links.facebook">
          <iframe :src="'https://www.facebook.com/plugins/page.php?href=' + encodeURIComponent(links.facebook.link) + '&tabs=timeline&width=' + width + '&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true'" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
      <div class="stats stats-icon">
        <ul :class="{'columns-2': (links.facebook && links.twitter) || (!links.facebook && !links.twitter)}">
          <li v-for="(link, index) in party.links.globals">
            <label>
              <img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
            </label>
            <div class="link-with-icon">
              <outbound-link :href="link.link" :addon="false" :title="link.link">
                <span v-if="link.icon.type === 'fb'">Facebook</span>
                <span v-if="link.icon.type === 'tw'">Twitter</span>
                <span v-if="link.icon.type === 'yt'">Youtube</span>
                <span v-if="link.icon.type === 'ig'">Instagram</span>
                <span v-if="link.icon.type === 'wiki'">Wikipedia</span>
                <span v-if="link.icon.type === 'link'">Webová stránka</span>
                <span v-if="link.icon.type === 'polist'">Historie strany ve volbách &middot; Polist.cz</span>
                <div class="small dimm">
                  {{ link.content }}
                </div>
              </outbound-link>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="part" v-if="activity.length > 1">
    <h2>Krajské organizace online</h2>
    <div class="stats stats-regions">
      <ul class="columns-2">
        <li v-for="(region, ix) in party.links.regional" v-if="region.links.length > 0">
          <label>
            {{ $store.state.static.regions.find(x => x.id === region.region).name.toUpperCase() }}
          </label>
          <div>
            <span v-for="(link, index) in region.links">
              <!-- <outbound-link :href="link.link" :addon="false" :title="link.link">
                <img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
              </outbound-link> -->
              <outbound-icon :href="link.link" :type="link.icon.type" :size="'2rem'" :title="link.link" />
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="goto goto-yellow" v-if="party">
    <h3>Pomožte doplnit tuto stránku</h3>
    <p>Víte, kde najít chybějící informace? Dejte vědět. Stačí kliknout níže a vložit odkaz.</p>
    <ul>
      <li>
        <update-form :region="-1" :party="party" :index="-1" :hints="false" notes="webové stránky">
          <button class="button-plain yellow">Přidat další webové stránky</button>
        </update-form>
      </li>
      <li>
        <update-form :region="-1" :party="party" :index="-1" :hints="false" notes="sociální síť">
          <button class="button-plain yellow">Přidat další sociální sítě</button>
        </update-form>
      </li>
      <li>
        <update-form :region="-1" :party="party" :index="-1" :hints="false" notes="podpora">
          <button class="button-plain yellow">Přidat podporu od strany či hnutí</button>
        </update-form>
      </li>
    </ul>
    <p>Nebo pošlete e-mail na <outbound-link href="tip@programydovoleb.cz" title="e-mailový klient">tip@programydovoleb.cz</outbound-link> nebo na některé ze sociálních sítí.</p>
  </div>
  <share-block />
  <party-list v-if="dynamics" />
  <div class="goto">
    <router-link to="/">&larr; Zpět na úvodní stranu</router-link>
  </div>
</div>
