<div class="party-detail">
  <div class="part" v-if="party">
    <h1>{{ party.short }}</h1>
    <p class="lead">{{ party.name }} v krajských volbách 2020</p>
    <div class="map-holder">
      <map-element :width="$store.state.width" :areas="areas" :clickable="clickable" @select="clicked" v-on:hover="hovered" />
      <div class="map-about" v-if="hoveredItem && $store.state.width > 640" :style="{left: hoveredItem.position.x + 'px', top: hoveredItem.position.y + 'px'}" :class="{hoveredItemVisible}">
        <div class="about-region">
          <h3>{{ hoveredItem.region.name }}</h3>
        </div>
        <div class="about-version" v-if="hoveredItem.data">
          <span v-if="hoveredItem.data.type === 0">
            samostatně
          </span>
          <span v-if="hoveredItem.data.type > 0">
            <em>{{ hoveredItem.data.party.name }}</em>
          </span>
        </div>
        <div class="about-logo" v-if="hoveredItem.data">
          <ul v-if="hoveredItem.data.party.coalition">
            <li v-for="(coal, ix) in hoveredItem.data.party.coalition" v-if="coal.logo">
              <img :src="$store.state.root + coal.logo" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="map-legend small">
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .8, background: party.color}"></div>
          <span>samostatně</span>
        </div>
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .4, background: party.color}"></div>
          <span>v koalici</span>
        </div>
        <div class="map-legend-item">
          <div class="circle" :style="{opacity: .1, background: party.color}"></div>
          <span>podpora</span>
        </div>
      </div>
    </div>
    <div class="list">
      <div
        class="party"
        v-for="(act, index) in activity"
        :style="{'border-color': act.party.leader ? act.party.leader.party.color : act.party.color }"
        >
          <div class="flex">
            <div class="list-region">
              <router-link :to="'/' + act.region.hash" class="as-span segment-name">
                {{ act.region.name }}
              </router-link>
              <div class="small">
                <span v-if="act.type === 0">
                  samostatně
                </span>
                <span v-if="act.type === 1">
                  v koalici
                </span>
                <span v-if="act.type === 2">
                  podpora
                </span>
              </div>
            </div>
            <div class="list-info">
              <strong><router-link :to="act.party.link">{{ act.party.name }}</router-link></strong>
              <div class="small">
                <template v-if="act.party.program">
                  <router-link :to="act.party.link + '/volebni-program'" class="red">Program </router-link>
                  &middot;
                </template>
                <span class="dimm">
                  {{ (act.party.leader ? 1 : 0) + (act.party.list || []).length }} / {{ act.region.seats }}
                </span>
                <span v-if="act.party.links" class="dimm">
                  &middot;
                  <outbound-link :href="act.party.links[0].link" class="as-link dimm">{{ act.party.links[0].icon.name }}</outbound-link>
                </span>
              </div>
              <template v-if="act.party.reg != party.reg && act.party.reg && !act.party.coalition">
                <h4>Kandidující strana</h4>
                <ul class="linear-list">
                  <li>
                    <party-link :data="act.party" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
              <template v-if="act.party.coalition">
                <h4>Koalice</h4>
                <ul class="linear-list">
                  <li v-for="(px, index) in act.party.coalition">
                    <party-link :data="px" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
              <template v-if="act.party.support">
                <h4>Podpora</h4>
                <ul class="linear-list">
                  <li v-for="(px, index) in act.party.support">
                    <party-link :data="px" :breakpoint="1000" />
                  </li>
                </ul>
              </template>
            </div>
            <div class="list-leader">
              <div v-if="act.party.leader">
                <h4 class="hide-40rem">Lídr kandidátky</h4>
                <router-link class="as-span" :to="act.party.link + '/' + act.party.leader.hash">
                  <person-name :data="act.party.leader" />
                </router-link>
                <div class="small" v-if="act.party.leader.party">
                  <party-link :data="act.party.leader.party" :breakpoint="1000" />
                </div>
              </div>
              <div class="dimm small" v-if="!act.party.leader">neznámý lídr</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <share-block />
  <div class="part">
    <div class="info-box center">
      <h3>Našli jste chybu?</h3>
      <p>Prosím, napište na <b><a mailto="info@programydovoleb.cz" class="footer-link">info@programydovoleb.cz</a></b> nebo přes některou ze sociálních sítí.</p>
    </div>
  </div>
  <party-list v-if="dynamics" />
  <div class="goto">
    <router-link to="/">&larr; Zpět na úvodní stranu</router-link>
  </div>
</div>
