<div id="app">
	<header class="block">
		<region-menu />
	</header>
	<article class="block" v-if="$store.state.dynamic.parties.length > 0">
		<router-view></router-view>
	</article>
	<footer class="block">
		<ul class="footer">
			<li>
				<div class="footer-content">
					<h4>Programy do voleb</h4>
					<p class="small"><em>Programy do voleb</em> vytváří <outbound-link href="https://twitter.com/stepanrysavy" content="Štěpán Ryšavý" />. Veškeré náklady na tvorbu webu, grafiky nebo reklamu si hradím sám. <router-link to="/o-projektu">Více o projektu</router-link></p>
					<p class="small">Číselníky a kandidátky vycházejí z&nbsp;<outbound-link href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu" content="otevřených dat ČSÚ" />.</p>
					<p class="small">Všechna data jsou také volně dostupná na <outbound-link href="https://github.com/ProgramyDoVoleb/public" content="GitHubu" />.</p>
				</div>
			</li>
			<li>
				<div class="footer-content">
					<h4>Krajské volby 2020</h4>
					<ul class="footer-menu">
						<li><router-link to="/" class="footer-link">Úvodní stránka</router-link></li>
						<li><router-link to="/o-projektu" class="footer-link">O projektu</router-link></li>
						<li><router-link to="/cookies" class="footer-link">Cookies</router-link></li>
						<li><router-link to="/newsletter" class="footer-link">Newsletter</router-link></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="footer-content">
					<h4>Kontakt:</h4>
					<p><a mailto="info@programydovoleb.cz" class="footer-link">info@programydovoleb.cz</a></p>
					<div class="social-share">
						<outbound-icon href="https://www.facebook.com/programydovoleb" type="fb" />
						<outbound-icon href="https://www.twitter.com/programydovoleb" type="tw" />
						<outbound-icon href="https://www.instagram.com/programydovoleb" type="ig" />
					</div>
				</div>
			</li>
			<li>
				<div class="footer-content">
				</div>
			</li>
		</ul>
	</footer>
</div>
