<div id="app">
	<main-header name="Krajské volby 2020" :data-num="loadedNum" />
	<article class="block" :class="{loaded}" v-if="loaded">
		<router-view></router-view>
		<div class="content-width"></div>
	</article>
	<main-footer>
		<h4><outbound-link href="https://programydovoleb.cz" :addon="false" title="Programy do voleb">Programy do voleb</outbound-link></h4>
		<ul class="footer-menu dark-links">
			<li><outbound-link href="https://senatnivolby2020.programydovoleb.cz" :addon="false" title="Senátní volby">Senátní volby</outbound-link></li>
			<li><outbound-link href="https://polist.cz" :addon="false" title="Politika, Statistika">Polist</outbound-link></li>
		</ul>
	</main-footer>
</div>
