.link-with-icon img {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top: .1em;
  margin-right: .25em;
}

.item-in-columns {
  padding-bottom: .5em;
}

.headline-meta {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  li:not(:first-child):before {
    content: "- ";
  }
}

.logo-holder-2 .logo-item {
  margin: 3em .25em 1em;
  display: inline-block;
}

.logo-holder-tiny {
  margin-top: -2rem;
}

.columns-2 li:first-child {
  border-top: 1px solid #f4f4f4;
}

.profile {
  .person-photo {
    max-width: 8rem;
  }
}

.leader-split {
  display: flex;

  .profile {
    width: 6rem;
    margin-right: 1rem;
  }

  .links {
    flex: 1;
  }

  @media (min-width: 50rem) {
    display: block;
    margin-left: 2rem;

    .profile {
      width: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.party-links {
  margin-bottom: 2rem;
}

.quick-links {
  span + span {
    margin-left: .25em;
  }
}

// leaders

.leaders {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 60rem) {
    margin-right: -2rem;
  }
}

.leaders-person {
  width: 100%;

  @media (min-width: 40rem) {
    width: 50%;
  }

  @media (min-width: 60rem) {
    width: 25%;
  }
}

.leaders-layout {
  padding-right: 2rem;
  display: flex;

  @media (min-width: 60rem) {
    display: block;
  }
}

.leaders-name {
  display: inline-block;
  margin: .5em 0 .2em;
  font-weight: bold;
  font-size: 1.25rem;

  @media (min-width: 60rem) {
    margin: 1em 0 .2em;
  }
}

.leaders-links {
  span + span {
    margin-left: .2em;
  }
}

.leaders-copy {
  margin: 1em 0;

  @media (min-width: 60rem) {
    padding-right: 2rem;
  }
}

.leaders-person > .leaders-links {
  font-size: 2rem;
}

.leaders-person > .leaders-links,
.leaders-person > .leaders-copy {
  margin-bottom: 2rem;
}

.leaders-photo {
  width: 4rem;
  margin-right: 1em;

  @media (min-width: 60rem) {
    width: 100%;
    max-width: 12rem;
  }
}

.leaders-content {
  flex: 1;
}

// leader

.leader-layout {
  display: flex;

  .leaders-photo {
    width: 4rem;
    margin-right: 1em;

    @media (min-width: 60rem) {
      width: 100%;
      max-width: 16rem;
      margin-right: 2em;
    }
  }
}

.leader-action .update-form {
  display: inline-block;
}

.leader-layout {
  .leaders-name {
    font-size: 1.25rem;
    margin-top: .2em;
  }

  .leaders-links {
    font-size: 2rem;
  }
}

// flow

.flow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.flow-item {
  width: 100%;
  height: 500px;
}

.flow .flow-item {
  @media (min-width: 40rem) {
    width: 50%;

    & + .flow-item {
      padding-left: 2rem;
    }
  }
}

.incidator {
  display: inline-block;
  width: 1em;
  height: 1em;
  transform: translateY(.2em);
  margin-right: .2em;
}
