<div class="overview">
  <div class="part" v-if="party">
    <div class="party-flex center">
      <div class="party-flex-part part-flex-part-1">
        <div class="party-header-logo center">
          <div class="logo-holder-2" v-if="party.logo">
            <logo-item :data="party" :size="{small: 6, large: 10, breakpoint: 40}" />
          </div>
          <div class="logo-holder-2" v-if="!party.logo && party.coalition">
            <logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 4, large: 6, breakpoint: 40}" />
          </div>
          <div class="logo-holder-tiny" v-if="party.logo && party.coalition">
            <logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 2, large: 3, breakpoint: 40}" />
          </div>
        </div>
      </div>
      <div class="party-flex-part part-flex-part-2">
        <h1 v-if="party">
          {{ party.name }}
          <div class="dimm small">{{ region.name }}</div>
        </h1>
        <div class="part quick-links" v-if="party && party.links">
          <outbound-icon v-for="(link, index) in party.links" :key="'c_' + index" :href="link.link" :type="link.icon.type" :size="'2rem'" :title="link.content" />
        </div>
      </div>
    </div>
  </div>
  <div class="part" v-if="party">
    <div class="party">
      <div class="stats heavy">
        <ul class="columns-2">
          <li v-if="!party.coalition">
            <label>Jméno</label>
            <party-link :data="party">
              {{ party.name }}
            </party-link>
          </li>
          <li v-if="party.coalition">
            <label>Koalice</label>
            <div class="coalition">
              <div v-for="(coal, index) in party.coalition" class="coalition-member">
                <party-link :data="coal" />
              </div>
            </div>
          </li>
          <li v-if="party.support">
            <label>Podpora</label>
            <div>
              <div v-for="(support, ix) in party.support">
                <party-link :data="support"  />
              </div>
            </div>
          </li>
          <li>
            <label>Program</label>
            <div v-if="party.program && data && data.program">
              <router-link :to="party.link + '/volebni-program'" class="button button-primary"><strong>Zobrazit program</strong></router-link>
            </div>
            <div v-if="party.program && (!data || (data && !data.program))">
              <img src="/static/icon/icon-check.svg" class="incidator">
              <outbound-link :href="party.program">Zobrazit</outbound-link>
            </div>
            <div v-if="!party.program" class="red">
              <img src="/static/icon/icon-against.svg" class="incidator">
              prozatím nezveřejněn
            </div>
          </li>
          <li>
            <label>Lídr</label>
            <div v-if="party.leader">
              <router-link :to="party.link + '/' + party.leader.hash" class="page-anchor"><person-name :data="party.leader" /></router-link>
            </div>
            <div v-if="!party.leader" class="red">prozatím neurčen</div>
          </li>
          <li>
            <label>Lidé</label>
            <div v-if="data && data.list">
              <router-link :to="$route.fullPath + '/kandidatni-listina'" class="page-anchor">{{ data.list.length }} kandidát<span v-if="data.list.length > 1 && data.list.length < 5">i</span><span v-if="data.list.length > 4">ů</span></router-link>
            </div>
            <div v-if="!data || !data.list || (party.list.length === 0 && !party.leader)" class="red">neznámá kandidátka</div>
          </li>
          <li v-if="party.links">
            <label>Odkazy</label>
            <div v-if="party.links.length > 0">
              <a href="#odkazy" class="page-anchor">{{ party.links.length }} odkaz<span v-if="party.links.length > 1 && party.links.length < 5">y</span><span v-if="party.links.length > 4">ů</span></a>
            </div>
            <div v-if="party.links.length === 0" class="red">chybí</div>
          </li>
          <li>
            <label>Čtyři otázky</label>
            <div>
              <router-link :to="party.link + '/ctyri-otazky'" v-if="party.answers" class="link-answers"><span class="is-link">Odpovědi</span><img src="/static/icon/answers.svg" alt=""></router-link>
              <span class="dimm" v-if="!party.answers">Zatím bez odpovědí</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="part" v-if="party && party.leader && lead && lead[0] && (lead[0].about.full || lead[0].quote.full)"><a name="lidr"></a>
    <h2>
      Lídr kandidátky
    </h2>
    <div class="leader-layout">
      <div class="leaders-photo show-60rem">
        <router-link :to="party.leader.link" class="image-as-link">
          <person-photo :data="party.leader" />
        </router-link>
      </div>
      <div class="leaders-content">
        <div class="leader-layout">
          <div class="leaders-photo hide-60rem">
            <router-link :to="party.leader.link" class="image-as-link">
              <person-photo :data="party.leader" />
            </router-link>
          </div>
          <div class="leaders-content">
            <div class="leaders-name">
              <router-link :to="party.leader.link">
                <person-name :data="party.leader" />
              </router-link>
            </div>
            <div class="leaders-party small">
              <party-link :data="party.leader.party" :breakpoint="1000" />
            </div>
          </div>
        </div>
        <div class="leader-copy" v-if="lead">
          <p v-if="lead[0].quote">
            <em v-html="lead[0].quote.short"></em>
            <router-link :to="party.leader.link">více&nbsp;&rarr;</router-link>
          </p>
          <p v-if="lead[0].about" >
            <span v-html="lead[0].about.mid"></span>
            <router-link :to="party.leader.link">více&nbsp;&rarr;</router-link>
          </p>
        </div>
        <div class="leader-placeholder" v-if="!lead || !lead[0] || (!lead[0].quote && !lead[0].about)">
          <p class="dimm">Zde je prostor pro představení kandidáta. Pokud víte o osobní stránce, blogu, profilu na stránce strany nebo stránce na wikipedii, prosím, zašlete odkaz. Stačí kliknout na tlačítko níže.</p>
        </div>
        <div class="leaders-links" v-if="party.leader.links">
          <span v-if="party.leader.links" class="leader-links">
            <span v-for="(link, index) in party.leader.links" class="leader-link">
              <outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="part" v-if="lead && lead.length > 1">
    <div class="leaders">
      <div class="leaders-person" v-for="(other, index) in lead.slice(1, 5)" v-if="other.about.full || other.quote.full">
        <div class="leaders-layout">
          <div class="leaders-photo">
            <router-link :to="other.link" class="image-as-link">
              <person-photo :data="other" />
            </router-link>
          </div>
          <div class="leaders-content">
            <div class="leaders-name">
              <router-link :to="other.link">
                <person-name :data="other" />
              </router-link>
              <span class="leaders-links hide-60rem" v-if="other.links">
                <span v-if="other.links" class="leader-links">
                  <span v-for="(link, index) in other.links" class="leader-link">
                    <outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
                  </span>
                </span>
              </span>
            </div>
            <div class="leaders-party small">
              <party-link :data="other.party" :breakpoint="1000" />
            </div>
          </div>
        </div>
        <div class="leaders-copy">
          <em v-if="other.quote.short" v-html="other.quote.short"></em>
          <span v-if="!other.quote.short && other.about.short" v-html="other.about.short"></span>
          <router-link :to="other.link">více&nbsp;&rarr;</router-link>
        </div>
        <div class="leaders-links show-60rem" v-if="other.links">
          <span v-if="other.links" class="leader-links">
            <span v-for="(link, index) in other.links" class="leader-link">
              <outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="part" v-if="data && data.list"><a name="lide"></a>
    <h2>
      Kandidátka
    </h2>
    <p class="center dimm">Na kandidátce je {{ data.list.length }} lidí.</p>
    <div class="columns-5">
      <div class="item-in-columns" v-for="(cand, ic) in list">
        <label-with-dot :color="cand.party && cand.party.reg === party.reg ? '#fff' : (cand.party ? cand.party.color : '#eee')">
          <person-name :data="cand" />
        </label-with-dot>
      </div>
    </div>
    <p class="center">
      <router-link :to="$route.fullPath + '/kandidatni-listina'" class="button button-primary">Kandidátka podrobně</router-link>
    </p>
  </div>
  <div class="part" v-if="party && party.program"><a name="program"></a>
    <h2>
      Program
    </h2>
    <program-element :data="data.program" :hash="region.short + '/' + hash" v-if="data && data.program" />
    <p class="center">
      <router-link :to="party.link + '/volebni-program'" class="button button-primary">Celý program</router-link>
      <outbound-link :href="party.program.source || party.program" :title="'Program ' + party.name" class="button">Program na webu &rarr;</outbound-link>
    </p>
  </div>
  <div class="part" v-if="party && party.answers && questions && answers">
    <h2>Čtyři otázky<router-link :to="party.link + '/ctyri-otazky'" class="link-answers">&nbsp;<img src="/static/icon/answers.svg"></router-link></h2>
    <p class="center dimm max-35rem"><em>Čtyři otázky</em> jsou zaslány všem stranám kandidujícím v krajských volbách. Díky tomu si můžete srovnat odpovědi na totožné otázky, na jednom místě.</p>
    <collapsible-element v-for="(question, index) in questions" :label="q[index]" :key="'a_' + index" v-if="answers.answers[index] != ''">
      <h4>{{ question }}</h4>
      <div v-html="answers.answers[index]"></div>
    </collapsible-element>
    <p class="center">
      <router-link :to="party.link + '/ctyri-otazky'" class="button button-primary">Zobrazit vše</router-link>
    </p>
  </div>
  <div class="part" v-if="party && party.links && party.links.length > 0 || linksAdditional.length > 0"><a name="odkazy"></a>
    <h2>
      Webové stránky a sociální sítě
    </h2>
    <div :class="{'split-1-1': links && ((links.facebook && !links.twitter) || (!links.facebook && links.twitter))}">
      <div :class="{flow: links && links.facebook && links.twitter}">
        <div class="flow-item" v-if="links && links.twitter">
          <twitter-feed :link="links.twitter.link + '?ref_src=twsrc%5Etfw'" :name="party.name" :key="party.hash"></twitter-feed>
        </div>
        <div class="flow-item" v-if="links && links.facebook">
          <iframe :src="'https://www.facebook.com/plugins/page.php?href=' + encodeURIComponent(links.facebook.link) + '&tabs=timeline&width=' + width + '&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true'" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
      <div class="stats stats-icon">
        <ul :class="{'columns-2': links && ((links.facebook && links.twitter) || (!links.facebook && !links.twitter))}">
          <li v-for="(link, index) in party.links">
            <label>
              <img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
            </label>
            <div class="link-with-icon">
              <outbound-link :href="link.link" :addon="false" :title="link.link">
                <span v-if="link.icon.type === 'fb'">Facebook</span>
                <span v-if="link.icon.type === 'tw'">Twitter</span>
                <span v-if="link.icon.type === 'yt'">Youtube</span>
                <span v-if="link.icon.type === 'ig'">Instagram</span>
                <span v-if="link.icon.type === 'link'">Webová stránka</span>
                <div class="small dimm">
                  {{ link.content }}
                </div>
              </outbound-link>
            </div>
          </li>
          <template v-if="linksAdditional.length > 0">
            <li v-if="links">
              <h4>Další krajské odkazy</h4>
            </li>
            <li v-for="(item, index) in linksAdditional">
              <label>
                <img :src="item.link.icon.src" :alt="item.link.icon.name" class="link-icon">
              </label>
              <div class="link-with-icon">
                <outbound-link :href="item.link.link" :addon="false" :title="item.link.link">
                  <span v-if="item.link.icon.type === 'link'">Webová stránka</span>
                  {{ item.party.short }}
                  &middot;
                  {{ region.name }}
                  <div class="small dimm">
                    {{ item.link.content }}
                  </div>
                </outbound-link>
              </div>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="part" v-if="linksAdditional.length > 0">
    <h2>Další užitečné odkazy</h2>
    <div class="stats stats-icon">
      <ul class="columns-2">
        <li v-for="(item, index) in linksAdditional">
          <label>
            <img :src="item.link.icon.src" :alt="item.link.icon.name" class="link-icon">
          </label>
          <div class="link-with-icon">
            <outbound-link :href="item.link.link" :addon="false" :title="item.link.link">
              <span v-if="item.link.icon.type === 'link'">Webová stránka</span>
              {{ item.party.short }}
              &middot;
              {{ region.name }}
              <div class="small dimm">
                {{ item.link.content }}
              </div>
            </outbound-link>
          </div>
        </li>
      </ul>
    </div>
  </div> -->
  <copyright-element :data="party" v-if="party" />
  <div class="goto goto-yellow" v-if="party">
    <h3>Pomožte doplnit tuto stránku</h3>
    <p>Víte, kde najít chybějící informace? Dejte vědět. Stačí kliknout níže a vložit odkaz.</p>
    <ul>
      <li v-if="!party.program">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="program">
          <button class="button-plain yellow">Poslat odkaz na program</button>
        </update-form>
      </li>
      <li v-if="!party.list">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="kandidátku strany">
          <button class="button-plain yellow">Poslat odkaz na kandidátku</button>
        </update-form>
      </li>
      <li v-if="!lead">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="lídři">
          <button class="button-plain yellow">Poslat odkaz na profily lídrů</button>
        </update-form>
      </li>
      <li v-if="lead && lead.length < 5">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="lídři">
          <button class="button-plain yellow">Poslat odkaz na profil čelního kandidáta</button>
        </update-form>
      </li>
      <li>
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="webové stránky">
          <button class="button-plain yellow">Přidat další webové stránky</button>
        </update-form>
      </li>
      <li>
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="webové stránky">
          <button class="button-plain yellow">Přidat další sociální sítě</button>
        </update-form>
      </li>
      <li>
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="podpora">
          <button class="button-plain yellow">Přidat podporu od strany či hnutí</button>
        </update-form>
      </li>
    </ul>
    <p>Nebo pošlete e-mail na <outbound-link href="tip@programydovoleb.cz" title="e-mailový klient">tip@programydovoleb.cz</outbound-link> nebo na některé ze sociálních sítí.</p>
  </div>
  <not-found v-if="!party" :region="region" :parties="parties" />
  <share-block v-if="party" />
  <br>
  <div class="part" v-if="region && party">
    <div class="banner-split">
      <div>
        <router-link :to="'/anketa/strany?kde=' + region.hash">
          <img src="/static/cta-anketa.png?v=1" alt="Dotazník" width="100%">
        </router-link>
      </div>
      <div>
        <router-link :to="'/anketa/volby?kde=' + region.hash">
          <img src="/static/cta-volby.png?v=1" alt="Anketa" width="100%">
        </router-link>
      </div>
    </div>
  </div>
  <div class="goto goto-dimm">
    <h4>Vybrat jinou stranu či koalici</h4>
    <div class="stats">
      <ul class="columns-2">
        <li v-for="(party, index) in parties" v-if="party.hash != hash">
          <div>
            <label-with-dot :color="party.color">
              <span>
                <router-link :to="party.link">
                  <responsive-label :short="party.short" :long="party.name"></responsive-label>
                </router-link>
              </span>

            </label-with-dot>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="goto">
    <router-link :to="'/' + region.hash">&larr; {{ region.name }}</router-link>
  </div>
  <div class="goto">
    <router-link to="/">&larr; Vybrat jiný kraj</router-link>
  </div>
</div>
