<div class="overview">
  <h1>Emaily</h1>
  <collapsible-element label="Preflight">
    <button @click="copy('.c0')">Kopírovat</button>
    <div class="copy c0">
      {"list": [<br>
      <span v-for="(region, index) in $store.state.static.regions">
        <span v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          {<br>
            "name": "{{ party.name }}",<br>
            "data": "{{ party.data.split('/data/').join('/odpovedi/') }}",<br>
            "email": "",<br>
            "send": 0,<br>
            "hash": "{{ hashMe(party.data) }}",<br>
            "link": "{{ party.link }}"
          }<span v-if="index2 < $store.getters.candidatesInRegion(region.hash).length - 1">,</span><br>
        </span><span v-if="index < $store.state.static.regions.length - 1">,</span>
      </span>
        ]
      }
    </div>
  </collapsible-element>
  <h1>SEO</h1>
  <collapsible-element label="Kraje">
    <button @click="copy('.c1')">Kraje</button>
    <div class="copy c1">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        if ($parts[1] === "{{ region.hash }}") meta(<br>
          "{{ region.name }} &middot; Krajské volby 2020 &middot; Programy do voleb",<br>
          "{{ region.name }} zná již {{ $store.getters.candidatesInRegion(region.hash).length }} stran a koalic, které budou kandidovat v krajských volbách 2020:
            <span v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
              {{ party.short || party.name }}.
            </span>
          Konečné množství kandidujících stran bude známé v půlce srpna.",<br>
          "/social/kraje/{{ region.hash }}-2.jpg"<br>
        );
        <br><br>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Čtyři otázky">
    <button @click="copy('.c2a')">Kopírovat</button>
    <div class="copy c2a">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}" && $parts[3] === "ctyri-otazky") meta(<br>
        		"Čtyři otázky pro: {{ party.short || party.name }} &middot; {{ region.name }} &middot; Krajské volby 2020",<br>
            "Vize pro kraj, sucho, stav silnic a co by pomohlo krajským zastupitelům lépe spravovat kraj. Čtyři otázky, díky kterým si můžete porovnat všechny strany v kraji. <span v-if="party.leader">Lídrem je <person-name :data="party.leader" />.</span><span v-if="!party.leader">Lídr ještě nebyl vybrán.</span>
            <span v-if="party.listCount > 1">
              Celkem {{ party.listCount > 4 ? "je" : "jsou" }} z kandidátní listiny znám{{ party.listCount > 4 ? "o" : "i" }} {{ party.listCount }} kandidát{{ party.listCount > 4 ? "ů" : "i" }}.
            </span> Údaje jsou postupně doplňované.",<br>
        		"/social/social-4Q.jpg"<br>
        	);
        </div>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Kandidátky">
    <button @click="copy('.c2')">Kopírovat</button>
    <div class="copy c2">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}") meta(<br>
        		"{{ party.short || party.name }} &middot; {{ region.name }} &middot; Krajské volby 2020",<br>
            "<span v-if="party.coalition">Koalice stran
              <span v-for="(member, index3) in party.coalition">
                <span v-if="index3 > 0"> +</span>
                <span>{{ member.short || member.name }}</span>
              </span>.
            </span><span v-if="party.leader">Lídrem je <person-name :data="party.leader" />.</span><span v-if="!party.leader">Lídr ještě nebyl vybrán.</span>
            <span v-if="party.program">Program již byl uveřejněn.</span>
            <span v-if="party.listCount > 1">
              Na kandidátce je také
              <span v-for="(m, ix) in party.list">
                {{ m.name }},
              </span>
              celkem {{ party.listCount > 4 ? "je" : "jsou" }} z kandidátní listiny znám{{ party.listCount > 4 ? "o" : "i" }} {{ party.listCount }} kandidát{{ party.listCount > 4 ? "ů" : "i" }}.
            </span>
            Informace ke krajskám volbám 2020 pro {{ region.name }} postupně doplňujeme.
            ",<br>
        		"/social/kraje/{{ region.hash }}-2.jpg"<br>
        	);
        </div>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Rejstřík">
    <button @click="copy('.c3')">Kopírovat</button>
    <div class="copy c3">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(party, index) in $store.getters.allParties()">
        if ($parts[1] === "rejstrik" && $parts[2] === "{{ party.hash }}") meta(<br>
          "{{ party.name + (party.short ? ' (' + party.short + ')' : '') }} &middot; Krajské volby 2020",<br>
          "Kde kandidují samostatně, kde v koalici a kde se domluvili na podpoře? Přehledně na jednom místě. Informace ke krajskám volbám 2020 postupně doplňujeme.
          ",<br>
          "/social/kraje/social-kde-kandiduji-3.png"<br>
        );
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Lídři">
    <button @click="copy('.c4')">Kopírovat</button>
    <div class="copy c4">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <div v-if="party.leader">
            <div v-for="(m, im) in [party.leader]">
              if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}" && $parts[3] === "{{ betterURL(m.nameFull[1] + ' ' + m.nameFull[2]) }}") meta(<br>
            		"<person-name :data="m" /> &middot; {{ party.short || party.name }} &middot; Krajské volby 2020",<br>
                "<person-name :data="m" /> vede kandidátku <span v-if="party.coalition && !party.name">koalice stran
                  <span v-for="(member, index3) in party.coalition">
                    <span v-if="index3 > 0"> +</span>
                    <span>{{ member.short || member.name }}</span>
                  </span>
                </span><span v-if="!party.coalition || (party.coalition && party.name)">{{ party.short || party.name}}</span> do krajských voleb 2020.
                ",<br>
            		"/social/kraje/{{ region.hash }}-2.jpg"<br>
            	);
            </div>
          </div>
          <div v-if="party.list">
            <div v-for="(m, im) in party.list">
              if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}" && $parts[3] === "{{ betterURL(m.nameFull[1] + ' ' + m.nameFull[2]) }}") meta(<br>
            		"<person-name :data="m" /> &middot; {{ party.short || party.name }} &middot; Krajské volby 2020",<br>
                "<person-name :data="m" /> {{ (m.party ? '(' + (m.party.short || m.party.name) + ')' : '') }} je na {{ im + 2 }}. místě na kandidátní listině <span v-if="party.coalition && !party.name">koalice stran
                  <span v-for="(member, index3) in party.coalition">
                    <span v-if="index3 > 0"> +</span>
                    <span>{{ member.short || member.name }}</span>
                  </span>
                </span><span v-if="!party.coalition || (party.coalition && party.name)">{{ party.short || party.name}}</span> do krajských voleb 2020.
                ",<br>
            		"/social/kraje/{{ region.hash }}-2.jpg"<br>
            	);
            </div>
          </div>
        </div>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Programy">
    <button @click="copy('.c5')">Kopírovat</button>
    <div class="copy c5">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <div v-if="party.program">
            if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}" && $parts[3] === "volebni-program") meta(<br>
          		"Volební program &middot; {{ party.short || party.name }} &middot; Krajské volby 2020",<br>
              "Projděte si program '{{ party.short || party.name}}' pro {{ region.name }} do krajských voleb 2020 a porovnejte ho s ostatními. V kraji kandiduje dalších {{ $store.getters.candidatesInRegion(region.hash).length - 1 }} stran nebo koalic.
              Informace ke krajskám volbám 2020 pro {{ region.name }} postupně doplňujeme.
              ",<br>
          		"/social/kraje/{{ region.hash }}-2.jpg"<br>
          	);
          </div>
        </div>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <collapsible-element label="Kandidátní listiny">
    <button @click="copy('.c6')">Kopírovat</button>
    <div class="copy c6">
      &lt;?php
      <br><br>
      $parts = explode("/", $_SERVER[REQUEST_URI]);
      <br><br>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          if ($parts[1] === "{{ region.hash }}" && $parts[2] === "{{ party.hash }}" && $parts[3] === "kandidatni-listina") meta(<br>
        		"Kandidátní listina &middot; {{ party.short || party.name }} &middot; {{ region.name }} &middot; Krajské volby 2020",<br>
            "<span v-if="party.coalition">Koalice stran
              <span v-for="(member, index3) in party.coalition">
                <span v-if="index3 > 0"> +</span>
                <span>{{ member.short || member.name }}</span>
              </span>.
            </span><span v-if="party.leader">Lídrem je <person-name :data="party.leader" />.</span><span v-if="!party.leader">Lídr není znám.</span>
            <span v-if="party.listCount > 1">
              Na kandidátce je také
              <span v-for="(m, ix) in party.list">
                {{ m.name }},
              </span>
              celkem {{ party.listCount > 4 ? "je" : "jsou" }} z kandidátní listiny znám{{ party.listCount > 4 ? "o" : "i" }} {{ party.listCount }} kandidát{{ party.listCount > 4 ? "ů" : "i" }}.
            </span>
            Kandidátka by měl zveřejnit ČSÚ v půlce srpna.
            ",<br>
        		"/social/kraje/{{ region.hash }}-2.jpg"<br>
        	);
        </div>
      </div>
      ?&gt;
    </div>
  </collapsible-element>
  <h2>Sitemap</h2>
  <collapsible-element label="Vše">
    <button @click="copy('.s1')">Sitemap</button>
    <div class="copy s1">
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <code>
            &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link }}&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
          </code>
        </div>
      </div>
      <div v-for="(party, index) in $store.getters.allParties()">
        <code>
          &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz/rejstrik/{{ party.hash }}&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
        </code>
      </div>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <code v-if="party.leader && party.leader.hash">
            &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link + '/' + party.leader.hash }}&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
          </code>
          <template v-if="party.list">
            <code v-for="(m, im) in party.list">
              &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link + '/' + m.hash }}&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
            </code>
          </template>
        </div>
      </div>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <code>
            &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link}}/volebni-program&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
          </code>
        </div>
      </div>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <code>
            &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link}}/kandidatni-listina&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
          </code>
        </div>
      </div>
      <div v-for="(region, index) in $store.state.static.regions">
        <div v-for="(party, index2) in $store.getters.candidatesInRegion(region.hash)">
          <code>
            &lt;url&gt;&lt;loc&gt;https://krajskevolby2020.programydovoleb.cz{{ party.link}}/ctyri-otazky&lt;/loc&gt;&lt;lastmod&gt;2020-08-07&lt;/lastmod&gt;&lt;changefreq&gt;weekly&lt;/changefreq&gt;&lt;/url&gt;
          </code>
        </div>
      </div>
    </div>
  </collapsible-element>
</div>
