h2 {
  padding: 3rem 0 1rem;
}

.party p {
  margin: 0;
}

h4 {
  margin: 0 0 1em;
}

h5 {
  font-size: 11px;
  color: #aaa;
  margin: .5em 0 1em;
}

small {
  color: #999;
}

.columns span {
  display: block;
}

.item {
  border-left: 2px solid #aaa;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
