<div class="overview">
  <div class="part">
    <h1>{{ region.name }}</h1>
    <p class="center">
      <strong>Hejtman:</strong><br>
      <template v-for="(party, index) in gov">
        <template v-for="(person, i) in party.seats">
          <person-about v-if="person.level === 0" :name="person.name" :party="party.reg" :nominatedBy="person.party" :link="person.wiki" />
        </template>
      </template>
    </p>
    <p class="center review" v-html="review"></p>
    <p class="center">
      <router-link :to="'/2016/' + region.hash + '/programove-prohlaseni'" class="button">Programové prohlášení</router-link>
    </p>
  </div>
  <div class="part">
    <h2>Výsledky voleb 2016</h2>
    <results-graph :data="results2016" />
    <p class="center">
      <router-link :to="'/2016/' + region.hash + '/porovnani-vysledku-voleb'" class="button">Porovnat výsledky jednotlivých obcí</router-link>
    </p>
  </div>
  <div class="part">
    <h2>Rada kraje</h2>
    <div class="columns">
      <div class="item" v-for="(party, index) in gov" :style="{'border-color': partiesGlobal.find(p => p.reg === party.reg).color}">
        <party-about :reg="party.reg" :simple="true" />
        <h5>Radní</h5>
        <div class="people">
          <person-about v-for="(person, i) in party.seats" :name="person.name" :key="'elected_' + index + '_' + i" :party="person.party" />
        </div>
      </div>
    </div>
  </div>
  <div class="part">
    <h2>Zvolení zastupitelé</h2>
    <div class="columns">
      <div class="item" v-for="(party, index) in parties" v-if="party.elected.length > 0" :style="{'border-color': partiesGlobal.find(p => p.reg === party.reg).color}">
        <party-about :reg="party.reg" />
        <h5>Zastupitelé: {{ party.elected.length }}</h5>
        <div class="people">
          <person-about v-for="(person, i) in party.elected" :name="person.name.join(' ')" :key="'elected_' + index + '_' + i" />
        </div>
      </div>
    </div>
  </div>
</div>
