<div class="program-block">
	<span v-if="typeof data === 'string'">{{ data }}</span>
	<div v-if="typeof data === 'object'">
		<h2 v-if="data.headline && depth === 2">
			<a :name="'cast' + index"></a>
			{{ data.headline }}
		</h2>
		<h3 v-if="data.headline && depth === 3">{{ data.headline }}</h3>
		<h4 v-if="data.headline && depth === 4">{{ data.headline }}</h4>
		<p v-if="data.copy">{{ data.copy }}</p>
		<ul v-if="data.list">
			<li v-for="(item, pl2) in data.list">
				<program-block :data="item" :depth="depth + 1" />
			</li>
		</ul>
		<div class="program-block-parts" v-if="data.parts">
			<program-block v-for="(part, pi) in data.parts" :depth="depth + 1" :data="part" :key="'parts_' + pi" />
		</div>
	</div>
</div>
