.holder {
  margin: 2rem -1.5rem;
  border-bottom: 1px solid #eee;
  background: #fafafa;
  padding: 2rem 0;

  @media (min-width: 60rem) {
    margin: 2rem 0;
  }
}

iframe {
  height: 6000px;

  @media (min-width: 60rem) {
    height: 5500px;
  }
}
