<div class="party" :style="{'border-color': party.color}" :class="{glow: glow}">
	<div class="party-header">
		<div class="party-header-logo">
			<div class="party-header-logo-holder">
				<div class="logo-holder-2" v-if="party.logo">
					<logo-item :data="party" :size="{small: 3, large: 4, breakpoint: 40}" />
				</div>
				<div class="logo-holder-2" v-if="!party.logo && party.coalition">
					<logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 3, large: 4, breakpoint: 40}" />
				</div>
				<div class="logo-holder-tiny" v-if="party.logo && party.coalition">
					<logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 1.5, large: 2, breakpoint: 40}" />
				</div>
				<div class="logo-leader" v-if="party.leader && party.leader.photo">
					<router-link :to="party.leader.link">
						<person-photo :data="party.leader" />
					</router-link>
				</div>
			</div>
		</div>
		<div class="party-header-name">
			<h3>
				<div class="party-name-holder">
					<router-link :to="party.link" class="is-span">
						<responsive-label :long="party.name" :short="party.short" />
					</router-link>
				</div>
			</h3>
		</div>
	</div>
	<div class="stats heavy">
		<ul>
			<li v-if="party.coalition && party.coalition.length > 0">
				<label>Koalice</label>
				<div class="coalition">
					<div v-for="(coal, index) in party.coalition" class="coalition-member">
						<party-link :data="coal" />
					</div>
				</div>
			</li>
			<li v-if="party.support">
				<label>Podpora</label>
				<div>
					<div v-for="(support, ix) in party.support">
						<party-link :data="support" />
					</div>
				</div>
			</li>
			<li v-if="party.program">
				<label>Program</label>
				<div v-if="party.program">
					<router-link :to="party.link + '/volebni-program'" class="button">
						Volební program
					</router-link>
				</div>
				<div v-if="party.program.local">
					<router-link :to="'/' + region.hash + '/' + betterURL(party.originalName || party.name) + '#program'" class="button">{{ party.program.label || 'Zobrazit program'}}</router-link>
				</div>
			</li>
			<li v-if="party.leader">
				<label>Lídr</label>
				<div>
					<router-link :to="party.link + '/' + betterURL(party.leader.name)" class="as-span">
						<person-name :data="party.leader" />
					</router-link>
					<span v-if="party.leader.links" class="leader-links">
						<span v-for="(link, index) in party.leader.links" class="leader-link">
							<outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
						</span>
					</span>
					<div v-if="party.leader.party" class="small">
						<party-link :data="party.leader.party" :breakpoint="1000" />
					</div>
				</div>
			</li>
			<li v-if="party.list && party.list.length > 0">
				<label>Lidé</label>
				<div>
					<div class="columns-3">
						<div class="item-in-columns" v-for="(cand, ic) in party.list" v-if="ic < 5">
							<person-name :data="cand" />
							<div class="small" v-if="cand.party && (cand.party.reg != (party ? party.reg : -1) || !cand.party.reg)">
								<party-link :data="cand.party" :breakpoint="1000" />
							</div>
						</div>
						<div class="item-in-columns" v-if="party.list.length > 5">
							<router-link :to="party.link + '#lide'">
								<span>celý seznam</span>
								&rarr;
							</router-link>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="party-footer">
			<router-link :to="party.link" :style="{color: party.color}" class="small">
				<strong>Více informací</strong>
				&rarr;&nbsp;
			</router-link>
			<span v-if="party.links" class="leader-links">
				<span class="leader-links-holder">
					<span v-for="(link, index) in party.links" class="leader-link">
						<outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
					</span>
				</span>
			</span>
		</div>
	</div>
</div>
