<div class="program-view">
	<div class="program-view-index" v-if="showIndex">
		<h2>Obsah</h2>
    <ol class="columns">
      <li v-for="(part, pi) in data.parts">
        <a :href="'#cast' + pi">{{ part.headline }}</a>
      </li>
    </ol>
	</div>
	<div class="program-view-floating" v-if="showFloatingIndex">
		<ul>
			<li v-for="(part, pi) in data.parts">
				<a :href="'#cast' + pi" class="button" ref="bullet">
					<span class="indicate-inactive">&#9675;</span>
					<span class="indicate-active">&#9679;</span>
					<span class="indicate-name">{{ part.headline }}</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="program-view-content">
    <div class="goto goto-dimm dimm" v-if="data.parts && party">
      Následující program je převzat ze stránek "{{ party.short || party.name }}" a jeho obsah není nijak upravován.
    </div>
    <h2 v-if="data.motto">
      <em>{{ data.motto }}</em>
      <br>
      <div class="small dimm">motto kampaně</div>
    </h2>
		<program-block v-for="(part, pi) in data.parts" :depth="2" :data="part" :index="pi" :key="'parts_' + pi" ref="block" />
	</div>
</div>
