.link-with-icon img {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  top: .1em;
  margin-right: .25em;
}

.item-in-columns {
  padding-bottom: .5em;
}

.headline-meta {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  li:not(:first-child):before {
    content: "- ";
  }
}

.logo-holder-2 .logo-item {
  margin: 3em .25em 1em;
  display: inline-block;
}

.columns-2 li:first-child {
  border-top: 1px solid #f4f4f4;
}

.profile {
  img {
    display: block;
    width: 100%;
    max-width: 8rem;
    border-radius: 1rem;
    border: 1px solid #eee;
  }
}

.leader-split {
  display: flex;

  .profile {
    width: 6rem;
    margin-right: 1rem;
  }

  .links {
    flex: 1;
  }

  @media (min-width: 50rem) {
    display: block;
    margin-left: 2rem;

    .profile {
      width: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.party-links {
  margin-bottom: 2rem;
}

.party-link {
  font-size: 2rem;
  display: inline-block;
  margin: 0 .1em;
}
