<span class="person-name" :class="{full, short}">
	<template v-if="data.nameFull[1] === ''">
		{{ data.name }}
	</template>
	<template v-if="data.nameFull[1] != ''">
		<span v-if="data.nameFull[0] != ''" class="dimm small in-full">{{ data.nameFull[0] }} </span><span class="in-normal">{{ data.nameFull[1] }}</span> <span class="in-short">{{ data.nameFull[1].charAt(0) }}.</span> <span>{{ data.nameFull[2] }}</span><span class="dimm small in-full" v-if="data.nameFull[3] != ''">, {{ data.nameFull[3] }}</span>
	</template>
</span>
