.person-photo {
  max-width: 14rem;
  margin: auto;
}

.leaders {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 60rem) {
    margin-right: -2rem;
  }
}

.leaders-person {
  width: 100%;

  @media (min-width: 40rem) {
    width: 50%;
  }

  @media (min-width: 60rem) {
    width: 25%;
  }
}

.leaders-layout {
  padding-right: 2rem;
  display: flex;

  @media (min-width: 60rem) {
    display: block;
  }
}

.leaders-name {
  display: inline-block;
  margin: .5em 0 .2em;
  font-weight: bold;

  @media (min-width: 60rem) {
    margin: 1em 0 .2em;
  }
}

.leaders-links {
  span + span {
    margin-left: .2em;
  }
}

.leaders-copy {
  margin: 1em 0;

  @media (min-width: 60rem) {
    padding-right: 2rem;
  }
}

.leaders-person > .leaders-links {
  font-size: 2rem;
}

.leaders-person > .leaders-links,
.leaders-person > .leaders-copy {
  margin-bottom: 2rem;
}

.leaders-photo {
  width: 4rem;
  margin-right: 1em;

  @media (min-width: 60rem) {
    width: 100%;
    max-width: 12rem;
  }
}

.leaders-content {
  flex: 1;
}

// leader

.leader-layout {
  display: flex;

  .leaders-photo {
    width: 4rem;
    margin-right: 1em;

    @media (min-width: 60rem) {
      width: 100%;
      max-width: 16rem;
      margin-right: 2em;
    }
  }
}

.leader-action .update-form {
  display: inline-block;
}

.leader-layout {
  .leaders-name {
    font-size: 1.25rem;
    margin-top: .2em;
  }

  .leaders-links {
    font-size: 2rem;
  }
}

.max35rem {
  max-width: 35rem;
  margin: auto;
}

.flow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.flow-item {
  width: 100%;
  height: 500px;
}

.flow .flow-item {
  @media (min-width: 40rem) {
    width: 50%;

    & + .flow-item {
      padding-left: 2rem;
    }
  }
}

h4:first-child {
  margin-top: .5em;
}

.party-header-logo {

  .logo-holder-2 {
    text-align: center;
  }

  .logo-holder-2 .logo-item {
    display: inline-block;
  }

  .logo-holder-tiny {
    margin-top: -2rem;
  }
}
