<div class="person">
  <div class="loading part" v-if="!person">Načítám...</div>
  <div class="loaded part logo-photo" v-if="person">
    <div class="part">
      <div class="hide-40rem">
        <person-photo :data="person" class="hide-40rem"></person-photo>
        <div class="part center quick-links" v-if="person && person.links">
          <outbound-icon v-for="(link, index) in person.links" :key="'c_' + index" :href="link.link" :type="link.icon.type" :size="'2rem'" :title="link.content" />
        </div>
      </div>
      <div class="party-header-logo show-40rem">
        <div class="logo-holder-2" v-if="party.logo">
          <logo-item :data="party" :size="{small: 6, large: 10, breakpoint: 40}" />
        </div>
        <div class="logo-holder-2" v-if="!party.logo && party.coalition">
          <logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 4, large: 6, breakpoint: 40}" />
        </div>
        <div class="logo-holder-tiny center" v-if="party.logo && party.coalition">
          <logo-item :data="member" v-for="(member, i3) in party.coalition" :key="'i31_' + i3" :size="{small: 1.5, large: 2, breakpoint: 40}" />
        </div>
      </div>
      <h1>
        <person-name :data="person" />
      </h1>
      <div class="center">
        <label-with-dot :color="party.color">
          <span>
            <router-link :to="party.link">{{ party.name }}</router-link>
          </span>
        </label-with-dot>
      </div>
      <div class="center">
        <router-link :to="'/' + region.hash">
          {{ region.name }}
        </router-link>
      </div>
    </div>
    <div class="part">
      <div class="leader-layout">
        <div class="leaders-photo">
          <router-link :to="person.link" class="image-as-link">
            <person-photo :data="person" />
          </router-link>
          <div class="part center quick-links" v-if="person && person.links">
            <outbound-icon v-for="(link, index) in person.links" :key="'c_' + index" :href="link.link" :type="link.icon.type" :size="'2rem'" :title="link.content" />
          </div>
        </div>
        <div class="leaders-content">
          <div class="leader-copy" v-if="lead">
            <p v-if="person.quote" class="quote">
              <em v-html="person.quote.full"></em>
            </p>
            <h4>Z webu kandidáta:</h4>
            <p v-if="person.about" >
              <span v-html="person.about.full"></span>
            </p>
          </div>
          <div class="leader-placeholder" v-if="!lead || !person.about">
            <p class="dimm">Zde je prostor pro představení kandidáta. Pokud víte o osobní stránce, blogu, profilu na stránce strany nebo stránce na wikipedii, prosím, zašlete odkaz. Stačí kliknout na tlačítko níže.</p>
          </div>
          <template v-if="person.party">
            <h4>Členství:</h4>
            <div class="leaders-party">
              <party-link :data="person.party" />
            </div>
          </template>
        </div>
      </div>
    </div>
    <div class="part" v-if="person && person.links && person.links.length > 0"><a name="odkazy"></a>
      <h2>
        Odkazy
      </h2>
      <div v-if="person.links" :class="{'split-1-1': (links.facebook && !links.twitter) || (!links.facebook && links.twitter)}">
        <div :class="{flow: links.facebook && links.twitter}">
          <div class="flow-item" v-if="links.twitter">
            <twitter-feed :link="links.twitter.link + '?ref_src=twsrc%5Etfw'" :name="person.name" :key="person.hash"></twitter-feed>
          </div>
          <div class="flow-item fb-content" v-if="links.facebook">
            <div class="fb-content-area">
              <iframe :src="'https://www.facebook.com/plugins/page.php?href=' + encodeURIComponent(links.facebook.link) + '&tabs=timeline&width=' + width + '&height=500&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true'" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
        <div class="stats stats-icon">
          <ul :class="{'columns-2': (links.facebook && links.twitter) || (!links.facebook && !links.twitter)}">
            <li v-for="(link, index) in person.links">
              <label>
                <img :src="link.icon.src" :alt="link.icon.name" class="link-icon">
              </label>
              <div class="link-with-icon">
                <outbound-link :href="link.link" :addon="false" :title="link.link">
                  <span v-if="link.icon.type === 'fb'">Facebook</span>
                  <span v-if="link.icon.type === 'tw'">Twitter</span>
                  <span v-if="link.icon.type === 'yt'">Youtube</span>
                  <span v-if="link.icon.type === 'ig'">Instagram</span>
                  <span v-if="link.icon.type === 'wiki'">Wikipedia</span>
                  <span v-if="link.icon.type === 'link'">Webová stránka</span>
                  <div class="small dimm">
                    {{ link.content }}
                  </div>
                </outbound-link>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="part" v-if="lead && lead.length > 1">
      <h2>Další na čele kandidátky</h2>
      <div class="leaders">
        <div class="leaders-person" v-for="(other, index) in lead" v-if="person.hash != other.hash">
          <div class="leaders-layout">
            <div class="leaders-photo">
              <router-link :to="other.link" class="image-as-link">
                <person-photo :data="other" />
              </router-link>
            </div>
            <div class="leaders-content">
              <div class="leaders-name">
                <router-link :to="other.link">
                  <person-name :data="other" />
                </router-link>
                <span class="leaders-links hide-60rem" v-if="other.links">
                  <span v-if="other.links" class="leader-links">
                    <span v-for="(link, index) in other.links" class="leader-link">
                      <outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
                    </span>
                  </span>
                </span>
              </div>
              <div class="leaders-party small">
                <party-link :data="other.party" :breakpoint="1000" />
              </div>
            </div>
          </div>
          <div class="leaders-copy">
            <em v-if="other.quote" v-html="other.quote.short"></em>
            <span v-if="!other.quote && other.about" v-html="other.about.short"></span>
            <router-link :to="other.link">více&nbsp;&rarr;</router-link>
          </div>
          <div class="leaders-links show-60rem" v-if="other.links">
            <span v-if="other.links" class="leader-links">
              <span v-for="(link, index) in other.links" class="leader-link">
                <outbound-icon :href="link.link" :img="link.icon.src" :title="link.icon.name.toUpperCase() + ' ' + link.content" :type="link.icon.name" :size="'1em'" />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <copyright-element :data="party" />
  </div>
  <div class="goto goto-yellow">
    <h3>Pomožte doplnit tuto stránku</h3>
    <p>Víte, kde najít chybějící informace? Dejte vědět. Stačí kliknout níže a vložit odkaz.</p>
    <ul>
      <li v-if="!person.about">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="medailonek">
          <button class="button-plain yellow">Přidat medailonek o kandidátovi</button>
        </update-form>
      </li>
      <li v-if="!person.party">
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="stranickou příslušnost">
          <button class="button-plain yellow">Přidat stranickou příslušnost</button>
        </update-form>
      </li>
      <li>
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="webové stránky">
          <button class="button-plain yellow">Přidat další webové stránky</button>
        </update-form>
      </li>
      <li>
        <update-form :region="region" :party="party" :index="-1" :hints="false" notes="webové stránky">
          <button class="button-plain yellow">Přidat další sociální sítě</button>
        </update-form>
      </li>
    </ul>
  </div>
  <share-block />
  <div class="goto" v-if="party && data && data.program">
    <router-link :to="party.link + '/volebni-program'" class="red">Zobrazit volební program &rarr;</router-link>
  </div>
  <div class="goto" v-if="party">
    <router-link :to="party.link">&larr; {{ party.name }}</router-link>
  </div>
  <div class="goto goto-dimm">
    <h4>Vybrat jinou stranu či koalici</h4>
    <div class="stats">
      <ul class="columns-2">
        <li v-for="(party, index) in parties" v-if="party.hash != candidateHash">
          <div>
            <label-with-dot :color="party.color">
              <span>
                <router-link :to="party.link">
                  <responsive-label :short="party.short" :long="party.name"></responsive-label>
                </router-link>
              </span>

            </label-with-dot>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="goto" v-if="region">
    <router-link :to="'/' + region.hash">&larr; {{ region.name }}</router-link>
  </div>
  <div class="goto">
    <router-link to="/">&larr; Úvodní stránka</router-link>
  </div>
</div>
